@extends('layouts.app')

@section('content')
<head>
<style>
body {
    background-color: pink;
	background-position: center;
	}
</style>
</head>
<body>
<img src="soccer-ball.jpg" alt="soccer-ball" style="width:1000px;height:1000px;">
<div class="container">
    <div class="row">
       
	<div class="panel panel-default">
                <div class="panel-heading"><marquee behavior="slide" direction="left">Welcome to Missouri Soccer Association</marquee></div>
               <h5>
                   
				   The Missouri Soccer Association is a soccer organization in the state of Missouri.
                   We are the nonprofit organization and our goal is to coordinate the school soccer meets and tournaments in the state of Missouri.
                   <br>
                   <br>
                   <br>
                   Currently around 100+ schools of Missouri are associated with us. We have conducted various tournaments successfully.

                </h5>

                 </div>

            <div class="panel panel-default">
                <div class="panel-heading"><marquee behavior="slide" direction="left">Contact us</marquee></div>

                <b>Phone numbers- </b> <br>(402)913-1111
                    <br>            (402)913-1112
                <br>
                <br>
               <h5><b>Fax-</b> 402)982-1234</h5>
                <br>

                <h5><b>Email id- </b> MSA@gmail.com </h5>

            </div>
        </div>
    </div>
</div>
@endsection